<%= provide(:title, "Blog | 4HM") %>
<div class="">
  <h1 class="display-4">*Blog Name*</h1>
  <p class="">...*leading sentence*</p>
</div>
  <h1 class="mdl-typography--title mdl-typography--font-bold
              mdl-typography--text-uppercase">Recent Posts</h1>

  <%= render 'shared/show_article_thumbs' %>
