<%= provide( :title, 'Author Login') %>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '442348422638871',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<h2 class='mdl-typography--title'>Log In</h2>
<div class="mdl-grid mdl-cell--12-col mdl-color--cyan">
  <div class="mdl-grid mdl-cell--12-col">
    <div class="mdl-cell--1-col"></div>
    <div class="mdl-cell--5-col">
    <%= form_for(:session ,url: login_path) do |f| %>

        <!-- To prevent chrome auto-complete -->
        <input type="email" class="hide" name="fakeemail"/>
        <input type="password" class="hide" name="fakepassword"/>

        <div class="mdl-grid">
          <div class="mdl-cell--1-col"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-cell--7-col
                      mdl-textfield--floating-label">
            <%= f.label 'Enter your email id', class: 'mdl-textfield__label'  %>
            <%= f.email_field :email , class: 'mdl-textfield__input' %>
          </div>
        </div>

      <div class="mdl-grid">
        <div class="mdl-cell--1-col"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-cell--7-col
                    mdl-textfield--floating-label">
          <%= f.label 'Password Please', class: 'mdl-typography--text-center
          mdl-textfield__label'  %>
          <%= f.password_field :password , class: 'mdl-textfield__input' %>
        </div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell--2-col"></div>

        <div class="mdl-cell--4-col">
          <%= f.submit 'Log In NOW', class: 'mdl-button mdl-js-button
            mdl-button--raised mdl-js-ripple-effect mdl-color--teal' %>
          </div>
      </div>

    <% end %>
    </div>
    <div class="mdl-grid mdl-cell--5-col">
      <div class="mdl-cell--9-col" style="padding-top: 14%;">
        <%= image_tag 'fb-logo.png', alt: 'FB'%>
        <button style="padding-left: 0;" class="mdl-button
            mdl-js-button mdl-color--blue mdl-button--raised mdl-js-ripple-effect"
                onclick="loginViaFacebook();"
        >
           Log In using Facebook
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-grid mdl-cell--12-col mdl-color--lime">
    <div class="mdl-cell--5-col">
      <h1 class="cursive mdl-typography--text-center">New User?</h1>
    </div>
    <div class="mdl-cell--5-col" style="margin-top: 6%;">
      <%= link_to "Sign Up Here", new_user_path , class: "mdl-button
            mdl-js-button mdl-color--blue mdl-button--raised
            mdl-js-ripple-effect", style: "text-decoration: none;" %>
    </div>
  </div>
</div>
<script type="text/javascript">

  function loginViaFacebook() {
    FB.login(function(response) {
      console.log("HERE LOGGING IN!")
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        console.log('CONNECTED');
        FB.api('/me?fields=id,name,email', function(response) {
          console.log(JSON.stringify(response));
          logUserIn( JSON.stringify(response) );
        });
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        console.log('NOT Authenticated');
      } else {
        // they are logged into this app or not.
        // The person is not logged into Facebook, so we're not sure if
        console.log('NOT CONNECTED');
      }
    }, {scope: 'public_profile,email'});
  }


  function logUserIn( response ) {
    var user = JSON.parse(response);

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/login");

    for(var key in user) {
      if(user.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "session["+key+"]");
        hiddenField.setAttribute("value", user[key]);
        console.log("session["+key+"] :"+user[key] );
        form.appendChild(hiddenField);
      }
    }

    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name","<%=request_forgery_protection_token.to_s%>");
    hiddenField.setAttribute("value","<%=form_authenticity_token%>" );
    console.log(hiddenField);
    form.appendChild(hiddenField);

    document.body.appendChild(form);
    form.submit();
  }

</script>
