<%= provide( :title, 'Results' )  %>

<div class="mdl-grid mdl-cell--12-col">

  <div class="mdl-cell--1-col"></div>


  <div class="mdl-card mdl-shadow--4dp search-card mdl-cell--10-col
              mdl-color--green">

    <div class="mdl-card__title mdl-color--green">
      <form action="/search-articles" method="get">
        <div class="mdl-textfield mdl-js-textfield
      mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="search" name="q">
          <label class="mdl-textfield__label mdl-color-text--black"
                 for="search">Search
            Articles for...</label>
        </div>
      </form>
   </div>

  <% if @articles.any? %>

    <div class="mdl-card__supporting-text mdl-color--white">
       <h6 class="">
         Search results
         <i class="material-icons" style="font-size: 72px;">trending_down</i>
       </h6>
    </div>

    <% @articles.each do |article| %>

    <div class="mdl-card__actions">
        <div class="mdl-grid mdl-cell--12-col">
          <div class="mdl-cell--6-col">
            <h4 class="mdl-button mdl-js-ripple-effect mdl-color--indigo">
            <%= link_to article.name,
                        controller: "articles", action: "show",
                        id: article._id  %>
            </h4>
          </div>

          <div class="mdl-cell--6-col">
            <% if article.try(:highlight).try(:content) %>
              <% article.highlight.content.each do |snippet| %>
                <p><%= snippet.html_safe %>...</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

    </div>
  <% end %>

</div>
