<%= provide( :title, 'New Article')  %>
<h1 class="mdl-typography--text-uppercase mdl-typography--title">New Article</h1>

<div class="mdl-grid mdl-color--cyan-200">
  <div class="mdl-cell--2-col"></div>
  <div class="mdl-cell--8-col">
    <%= form_for(@article) do |f| %>
        <%= render 'shared/error_messages' %>

      <div class="mdl-textfield mdl-js-textfield mdl-cell--8-col
                  mdl-textfield--floating-label">
        <%= f.label 'Title Of The Post', class: 'mdl-textfield__label'  %>
        <%= f.text_field :name , class: 'mdl-textfield__input' %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col
                  mdl-textfield--floating-label">
        <%= f.label 'Post Content', class: 'mdl-textfield__label'  %>
        <%= f.text_area :content ,rows: '15', class: 'mdl-textfield__input' %>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell--4-col"></div>

        <div class="mdl-cell--4-col">
          <%= f.submit 'Post new Article!', class: 'mdl-button mdl-js-button
            mdl-button--raised mdl-js-ripple-effect mdl-color--teal' %>
        </div>
      </div>

    <% end %>
  </div>
</div>


