<%= provide(:title , name='Post')%>

<!-- Wide card with share menu button -->
<style>
  .demo-card-wide > .mdl-card__title {
    /*height: 176px;*/
  }

  #article_title {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: #eee;
  }

  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .demo-card-wide > .mdl-card__actions {
    /*background-color: rgba(0,170,50,0.4);*/
  }
  #article_content {
    font-size: medium;
    line-height: 140%;
    background-color: #efefef;
    white-space: pre-wrap;
  }
  #discussions {
    background-color: rgba(0,170,50,0.8);
  }
</style>
<div class="mdl-grid">
  <div class="mdl-cell--1-col"></div>
  <div class="mdl-cell--10-col mdl-color--lime demo-card-wide mdl-card
  mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color--teal">
      <h2 class="mdl-card__title-text display-3" id="article_title">
        <%= @article.name %>
      </h2>
    </div>
    <div class="mdl-card__supporting-text" id="article_content">
      <%= @article.content %>
    </div>
    <div class="mdl-card__actions  mdl-color--white mdl-card--border">
      <% if logged_in? %>
        <h6 class="display2">NEW COMMENT</h6>
        <%= render 'shared/new_comment' %>
      <% else %>
        <h4 class="display2">Please log in to comment</h4>
        <% store_location %>
        <%= link_to "Log In" , login_path, style: 'text-decoration: none;',
                    class: 'mdl-button
          mdl-button--raised mdl-js-button mdl-js-ripple-effect'%>
      <% end%>
    </div>
    <div class="mdl-card__actions mdl-card--border mdl-color--teal-100"
         id='discussions'>
      <h6 class="display2">DISCUSSIONS</h6>
      <%= render 'shared/comments' %>
    </div>
    <div class="mdl-card__menu">
      <% if logged_in? %>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
              id="btnFav"
              onclick="toggleFav();">
        <% favs = current_user.favourites %>
      <% if favs and favs.find_by_article_id(@article.id) and favs
              .find_by_article_id(@article.id).loves %>
          <i class="material-icons">favorite</i>
      <% else %>
          <i class="material-icons">favorite_border</i>
      <% end %>
      </button>
      <% end %>
    </div>
    </div>
</div>
<script type="text/javascript">
  function toggleFav() {
    var form = document.createElement('form');
    form.setAttribute("method","post");
    var hf = document.createElement("input");
    hf.setAttribute("type", "hidden");
    hf.setAttribute("name", "id");
    hf.setAttribute("value", '<%= @article.id %>');
    form.appendChild(hf);
    form.setAttribute("action","/toggleFav");
    document.body.appendChild(form);
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name","<%=request_forgery_protection_token.to_s%>");
    hiddenField.setAttribute("value","<%=form_authenticity_token%>" );
    console.log(hiddenField);
    form.appendChild(hiddenField);
    form.submit();
  }
</script>