<% if @author.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      There are <%= pluralize( @author.errors.count, 'error')  %>
    </div>
    <ul class="list-group panel-body">
      <% @author.errors.full_messages.each do |msg| %>
          <li class="list-unstyled alert-danger list-group-item"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>