<%= provide( :title, "New Author") %>

<div class="container">
  <h3 class="lead lead_text">New (secret) Author Signup</h3>

  <%= render 'error_messages' %>

  <%# NEW LEARN url:path for posting to a custom path %>

  <%= form_for @author, url: new_author_path,
               html: {class: "col-md-offset-2 col-md-3"} do |f| %>

    <%= f.text_field :name, class: "form-control", placeholder: "Name*" %>
    <%= f.text_area :about, class: "form-control",
                    placeholder: "Tell us a bit about yourself" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Email*"%>
    <%= f.password_field :password, class: "form-control", placeholder:
                                     "Password*" %>
    <%= f.password_field :password_confirmation, class: "form-control",
                    placeholder: "Confirm Password*" %>

    <%= f.submit "Sign me up!", class: "btn btn-primary" %>
  <% end %>
</div>