<%= provide(:title, "Author Profile")%>

<style>
  h4 > strong {
    font-family: 'Indie Flower', cursive;
  }
</style>

<h2 class="mdl-typography--title main_heading"><%= @author.name %></h2>
<div class="mdl-grid">
  <div class="mdl-cell--2-col"></div>
  <div class="mdl-cell--8-col mdl-color--cyan-100">
    <h4 class="text-left mdl-color--cyan-100">
      <strong>About Author</strong>
    </h4>
    <pre class="mdl-color--cyan-100">
      <%= @author.about %>
    </pre>
  </div>
</div>

