<% if @user.errors.any? %>
  <div class="mdl-card mdl-color--red" style="width: 100%;">
    <div class="mdl-card__title-text">
      <h2 class="mdl-card__title"><%= pluralize( @user.errors.count, 'error')%></h2>
    </div>
    <div class="mdl-grid mdl-cell--12-col">
      <ul class="mdl-card__supporting-text">
        <% @user.errors.full_messages.each do |msg| %>
            <div class="mdl-cell--3-col ">
              <li class="list-unstyled"><%= msg %></li>
            </div>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>