<% provide(:title, 'Sign Up')%>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '442348422638871',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<div class="mdl-grid mdl-color--cyan ">
  <%= render 'users/error_messages' %>
  <div class="mdl-cell--12-col mdl-grid ">
    <div class="mdl-cell--2-col">
      <i class="material-icons large-icon" style="padding-top: 50%;">link</i>
    </div>
    <div class="mdl-cell--10-col">
      <h2 class="cursive">New To *Blog Name*? <br />Sign Up using
        your
        email.
      </h2>
    </div>
  </div>
  <div class="mdl-cell--12-col mdl-grid mdl-color--lime"  style="padding-top: 60px;">
    <div class="mdl-cell--12-col mdl-grid--no-spacing">
      <%= form_for(@user) do |f| %>
        <div class="mdl-cell--3-col mdl-textfield mdl-js-textfield
                    mdl-textfield--floating-label">
          <%= f.label 'Full Name', class: 'mdl-textfield__label' %>
          <%= f.text_field :name, class: 'mdl-textfield__input' %>
        </div>
        <div class="mdl-cell--3-col mdl-textfield mdl-js-textfield
                    mdl-textfield--floating-label">
          <%= f.label 'Email Address', class: 'mdl-textfield__label' %>
          <%= f.email_field :email, class: 'mdl-textfield__input' %>
        </div>
        <div class="mdl-cell--3-col mdl-textfield mdl-js-textfield
                    mdl-textfield--floating-label">
          <%= f.label 'Password', class: 'mdl-textfield__label' %>
          <%= f.password_field :password, class: 'mdl-textfield__input' %>
        </div>
        <div class="mdl-cell--3-col mdl-textfield mdl-js-textfield
                    mdl-textfield--floating-label">
          <%= f.label 'Password Confirmation', class: 'mdl-textfield__label' %>
          <%= f.password_field :password_confirmation, class:
                                                      'mdl-textfield__input' %>
        </div>
    </div>
    <div class="mdl-grid mdl-cell--12-col">
      <div class="mdl-cell--5-col"></div>
      <div class="mdl-cell--2-col">
        <%= f.submit 'Sign Me Up', class: 'mdl-button mdl-js-button mdl-color--blue
                       mdl-button--raised mdl-js-ripple-effect'%>
      </div>
      <% end %>
    </div>
  </div>
  <div class="mdl-grid mdl-cell--12-col">
    <div class="mdl-cell--1-col"></div>
    <div class="mdl-cell--10-col">
      <h1 class="cursive mdl-typography--text-center">OR</h1>
    </div>
  </div>

  <div class="mdl-grid mdl-cell--12-col">
    <div class="mdl-cell--4-col"></div>
    <div class="mdl-cell--4-col">
      <%= image_tag 'fb-logo.png', alt: 'FB'%>
      <button style="padding-left: 0;" class="mdl-button
          mdl-js-button mdl-color--blue mdl-button--raised mdl-js-ripple-effect"
          onclick="signUpViaFacebook();"
      >
      Sign Up using Facebook
      </button>
    </div>
  </div>
</div>

<script type="text/javascript">

  function signUpViaFacebook() {
    console.log('Still here!');
    FB.login(function(response) {
      console.log("HERE LOGGING IN!")
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        console.log('CONNECTED');
        FB.api('/me?fields=id,name,email', function(response) {
          console.log(JSON.stringify(response));
          signUserUp( JSON.stringify(response) );
        });
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        console.log('NOT Authenticated');
      } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        console.log('NOT CONNECTED');
      }
    }, {scope: 'public_profile,email'});
  }


  function signUserUp( response ) {
    var user = JSON.parse(response);

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/users");

    for(var key in user) {
      if(user.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "user["+key+"]");
        hiddenField.setAttribute("value", user[key]);
        console.log("user["+key+"] :"+user[key] );
        form.appendChild(hiddenField);
      }
    }

    console.log("Logging authencity token");
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name","<%=request_forgery_protection_token.to_s%>");
    hiddenField.setAttribute("value","<%=form_authenticity_token%>" );
    console.log(hiddenField);
    form.appendChild(hiddenField);

    document.body.appendChild(form);
    form.submit();
  }

</script>
