<% provide(:title, @user.name) %>

<div class="mdl-grid mdl-cell--12-col">
  <div class="mdl-cell--2-col">
    <%= gravatar_for(@user) %>
  </div>
  <div class="mdl-cell--8-col">
    <h2 class="mdl-typography--title"><%= @user.name %></h2>
    <div class="favourites mdl-card mdl-shadow--4dp mdl-color--blue-900">
      <div class="mdl-card__title mdl-color--red">
        <h2 class="mdl-card__title-text">Favourites</h2>
      </div>
      <div class="mdl-card__supporting-text ">
        <ul class="list-unstyled ">
          <% @user.favourites.each do |f|%>
            <% if f.loves %>
              <% article = Article.find(f.article_id) %>
              <li><%= link_to article.name , article, class: "mdl-typography--font-bold
              mdl-color-text--white" %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .favourites {
    width: 100%;
  }
</style>