
<style>

  .comment {
    margin: 12px;
    width: 100%;
  }
  .comment > .mdl-card__title {
    background-color: #0097a7;
  }
  .comment > .mdl-card__supporting-text {
    background-color: #efefef;
    font-family: 'Indie Flower', cursive;
    font-size: medium;
    white-space: pre-wrap;
  }
  .comment > .mdl-card__actions {
    padding-bottom: 0;
    margin: 0;
  }
  .comment > .mdl-card__title > .mdl-card__title-text {
    font-size: large;
  }
  a.link_to_reply{
    text-decoration: none;
    color: white;
  }
</style>

<div class="mdl-grid">
  <div class="mdl-cell--10-col">


    <% @comments = @article.comments  %>

    <% @comments = @comments.reverse.paginate(page: params[:page],
                                              per_page: 10) %>

    <%# comments = comments.reverse %>
    <%= will_paginate @comments %>
    <% @comments.each do |comment|%>
      <!-- Due to new empty comment being displayed -->
      <% next if comment.comment_text.nil? %>


      <div class="mdl-card mdl-shadow--4dp comment mdl-color--teal-500">
        <div class="mdl-card__title mdl-color--teal-500">
          <h5 class="mdl-card__title-text"><%= comment.name %></h5>
        </div>
        <div class="mdl-card__supporting-text mdl-color--teal-100">
          <%= comment.comment_text %>
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-color--teal-500">
          <% if logged_in? %>
            <div>
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color--white" id="<%= comment.id
              %>_up"
                      onclick="upvote(<%= comment.id %>);"
                <%like = current_user.likes.find_by_comment_id(comment.id) %>
                <% if like and like.vote_type==1 %>
                   disabled="true"
                <%end%>
                >
                <i class="material-icons">thumb_up</i>
              </button>
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color--white" id="<%= comment.id
              %>_down"
                      onclick="downvote(<%= comment.id %>)"
                <% if like and like.vote_type==-1 %>
                  disabled="true"
                <%end%>
                 >
                <i class="material-icons">thumb_down</i>
              </button>
            </div>
          <% end %>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon
          mdl-color--orange mdl-js-button mdl-js-ripple-effect">
            <span><%= comment.num_likes %></span>
          </button>
        </div>
      </div>

    <% end %>
  </div>
</div>



<script type="text/javascript">
  function upvote(a) {
    $("#"+a+"_down").removeClass("mdl-color--white");
    $("#"+a+"_up").addClass("mdl-color--white");
    $("#"+a+"_up").prop('disabled', true);
    $("#"+a+"_down").prop('disabled', false);
    var form = document.createElement('form');
    form.setAttribute("method","post");
    var hf = document.createElement("input");
    hf.setAttribute("type", "hidden");
    hf.setAttribute("name", "id");
    hf.setAttribute("value", a);
    form.appendChild(hf);
    form.setAttribute("action","/upvote");
    document.body.appendChild(form);
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name","<%=request_forgery_protection_token.to_s%>");
    hiddenField.setAttribute("value","<%=form_authenticity_token%>" );
    console.log(hiddenField);
    form.appendChild(hiddenField);
    form.submit();
  }
  function downvote(a) {
    $("#"+a+"_up").removeClass("mdl-color--white");
    $("#"+a+"_down").addClass("mdl-color--white");
    $("#"+a+"_down").prop('disabled', true);
    $("#"+a+"_up").prop('disabled', false);
    var form = document.createElement('form');
    form.setAttribute("method","post");
    var hf = document.createElement("input");
    hf.setAttribute("type", "hidden");
    hf.setAttribute("name", "id");
    hf.setAttribute("value", a);
    form.appendChild(hf);
    form.setAttribute("action","/downvote");
    document.body.appendChild(form);
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name","<%=request_forgery_protection_token.to_s%>");
    hiddenField.setAttribute("value","<%=form_authenticity_token%>" );
    console.log(hiddenField);
    form.appendChild(hiddenField);
    form.submit();
  }
</script>