<div class="mdl-grid">
  <div class="mdl-cell--10-col">
    <%=  form_for [@article, @article.comments.build] do |f|%>
      <div class="mdl-textfield mdl-textfield--floating-label
      mdl-js-textfield mdl-cell--4-col">
        <%= f.text_field :name,width: '100%' , class: 'mdl-textfield__input'
            %>
        <%= f.label "Name",width: '100%' , class: 'mdl-textfield__label'%>
      </div>

      <div class="mdl-textfield mdl-textfield--floating-label
      mdl-js-textfield mdl-cell--12-col">
        <%= f.text_area :comment_text, class: 'mdl-textfield__input' ,
                        width: '100%' , rows: '10' %>
        <%= f.label "What do you think?",width: '100%' ,
                    class:'mdl-textfield__label'%>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell--4-col"></div>
        <div class="mdl-cell--4-col">
          <%= f.submit 'Post New Comment' , class:'mdl-button mdl-js-button
              mdl-button--colored mdl-button--raised mdl-js-ripple-effect'%>
        </div>
      </div>
  <% end %>
  </div>
</div>