<style>

  .demo-card-wide {
    width: 90%;
    border: 8px;
  }

  .mdl-card__title-text {
    color: #efefef;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
  }
  div.mdl-card__actions > a {
    text-decoration: none;
  }
</style>

<% if controller_name == 'articles' %>
  <% @articles = @articles.paginate(:page =>params[:page], :per_page => 14) %>
  <%= will_paginate @articles %>
<% end %>

  <% if @articles.any? %>
  <div class="mdl-grid">
  <% @articles.each do |article| %>

      <div class="mdl-cell--6-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-color--green">
            <h2 class="mdl-card__title-text"><%= article.name %></h2>
          </div>
          <div class="mdl-card__supporting-text">
            <%= article.content[0..150] %>...
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to "Full Article" , article, class: "mdl-button
                  mdl-js-button mdl-js-ripple-effect
                  mdl-color--cyan" %>
          </div>
          <!--
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
          -->
        </div>
      </div>


  <% end %>

  </div>
<% end %>


