// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel {
  opacity: 0.85;
}

.sub-heading {
  color: chartreuse;
  margin-bottom: 0;
  padding-top: 3%;
}

.post-body {
  display: block;
  min-height: 80%;
  background-color: rgba(180,255,180,0.3);
  font-size: x-large;
}

.comment-heading {
  padding-top: 5%;
}