// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-wrapper {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.panel-primary {
  margin-top: 100px;
}