// Custom global stylesheet

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  background-color:#EFEFEF;// url("life.jpg");
  background-size: cover;
  font-family: 'Roboto', "Helvetica", "Arial", sans-serif;
}


a.mdl-menu__item {
  text-decoration: none;
}


/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* For debug dump at the bottom*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.main_heading {
  color: red;
  font-weight: 700;
  font-size: x-large;
  text-shadow: 1px 1px 4px #000;
}

.hide {
  display: none;
}

.dropdown-menu {
  background-color: gray;
  color: #FFF;
}

a.mdl-navigation__link:hover {
  text-decoration: none;
}


.cursive {
  font-family: 'Indie Flower', cursive;
  padding: 5%;
}

.material-icons.large-icon { font-size: 72px; }

#search-div {
  padding-top: 3%;
  padding-right: 2%;
}


.search-card{

  .mdl-card__actions {
    background-color: #222222;
    color: #fff;

    em {
      color: #000;
    }
  }

  width: 100%;
  a {
    text-decoration: none;

    color: black;

    &:hover {
      color: #fff;
    }
  }

  em {
    background: yellow;
  }
}


.mdl-navigation a {
  font-weight: 600;
  &:hover {
    font-weight: 800;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
  }
}